<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/favicon3.ico" type="image/x-icon"/>
    <title>Оціни викладача</title>
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/main.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.nivo.slider.js"></script>
    <link href="~/Content/main.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @RenderSection("scripts", required: false)
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        @Html.Partial("_LoginPartial")
        <div class="menu">
            <a href="/">Головна</a>
            @Html.ActionLink("Рейтинг", "ListOfTeachers", "ListOfTeachers")
            @Html.ActionLink("Дошка відзнаки", "Index", "Dashboard")
        </div>
    </header>
    <content>@RenderBody()</content>
    <footer>© 2015 Всі права захищено. Команда Good Developer</footer>
</body>
</html>
