@model AvaluateTheTeacher1.Models.IndexViewModel
@{
    ViewBag.Title = "Профіль - Оціни викладача";
}
<title>@ViewBag.Title</title>
<content>
    <div class="title">
        <hr /><h1>@ViewBag.Title</h1>
    </div>
    <p class="text-success">@ViewBag.StatusMessage</p>
    <div>
        <h4>Зміна параметрів облікового запису</h4>
        <img style="width: 300px;margin-left: 40px;"/>
        <dl class="dl-horizontal">
            <dt>Пароль:</dt>
            <dd>

                @if (Model.HasPassword)
            {
                    @Html.ActionLink("Змінити", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Створити", "SetPassword")
                }

            </dd>

            @*
                Номера телефонов можно использовать в качестве второго проверочного фактора для системы двухфакторной проверки подлинности.

                 В <a href="http://go.microsoft.com/fwlink/?LinkId=403804">этой статье</a>
                    вы можете узнать, как настроить для этого приложения ASP.NET двухфакторную проверку подлинности с использованием SMS.

                 Настроив двухфакторную проверку подлинности, раскомментируйте следующий блок.
            *@
            @*
                <dt>Номер телефона:</dt>
                <dd>
                    @(Model.PhoneNumber ?? "Нет") [
                    @if (Model.PhoneNumber != null)
                    {
                        @Html.ActionLink("Изменить", "AddPhoneNumber")
                        @: &nbsp;|&nbsp;
                        @Html.ActionLink("Удалить", "RemovePhoneNumber")
                    }
                    else
                    {
                        @Html.ActionLink("Добавить", "AddPhoneNumber")
                    }
                    ]
                </dd>
            *@
            <dt>Електронна адреса:</dt>
            <dd>
                @Html.ActionLink("Прикріпити", "AddEmail", "Manage")
            </dd>

            <dt>Логін:</dt>
            <dd>
                @Html.ActionLink("Змінити", "EditUserName", "Manage")
            </dd>
        </dl>
    </div>
</content>