@model AvaluateTheTeacher1.Models.Students.Group

@{
    ViewBag.Title = "Група "+Model.Name+" - Оціни викладача";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<title>@ViewBag.Title</title>
<content>
    <h2>Детальніше</h2>

    <div>
        <h4>Група</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                Кількість студентів
            </dt>
            <dd>
                @ViewBag.CountStudents
            </dd>

            <dt>
                Викладачі, які викладають в цій групі
            </dt>

            @foreach (var c in ViewBag.Teachers)
            {
                <dd>@c</dd>
            }

        </dl>
    </div>
    <p>
        @Html.ActionLink("Редагувати", "Edit", new { id = Model.GroupId }) |
        @Html.ActionLink("Назад", "Index")
    </p>
</content>