
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="title">Адміністрація сайту</h1>
<div class="admin_menu">   
    @Html.ActionLink("Додавання студента", "AddNewStudent", "AddingStudent", routeValues: null, htmlAttributes: new { title = "" })
    @Html.ActionLink("Список студентів", "ListOfUsers", "Admin", routeValues: null, htmlAttributes: new { title = "" })
    @Html.ActionLink("Групи студентів", "Index", "Group", routeValues: null, htmlAttributes: new { title = "" })
    @Html.ActionLink("Викладачі", "Index", "Teachers", routeValues: null, htmlAttributes: new { title = "" })   
    @Html.ActionLink("Предмети", "Index", "Subjects", routeValues: null, htmlAttributes: new { title = "" })
    
</div>
