@model AvaluateTheTeacher1.Models.Teachers.FilterDataModel
@{
    ViewBag.Title = "Рейтинг викладачів - Оціни викладача";

    var name_class = "";
}
<title>@ViewBag.Title</title>
<content>
    <div class="title">
        <hr><h1>
                РЕЙТИНГ ВИКЛАДАЧІВ
        </h1>
    </div>    
    <div class="dropdown">
        
        @using (@Html.BeginForm("ListOfTeachers", "ListOfteachers", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Get))
        {
            @Html.AntiForgeryToken()
            <div class="filter_lable">Виберіть кафедру:</div>
            @Html.DropDownListFor(m => m.SelectedId, Model.Cathedras, new { @class = "dropdown-content", onchange = "this.form.submit();" })
        }
    </div>

    @foreach (var T in Model.Teachers)
    {
            if (@T.AvgRating >= 9) { name_class = "grean1"; }
            if (@T.AvgRating >= 6 && @T.AvgRating < 9) { name_class = "yellow"; }
            if (@T.AvgRating >= 0 && @T.AvgRating < 6) { name_class = "red1"; }

        <div class="teachers">
            <img class="img-teacher" src="~/TeacherImg/@T.PathToPhoto" alt="Нет фотографии">
            <div class="about_teacher">
                <span class="pib">@T.LastName</span>
                <span class="pib">@T.Name</span>
                <span class="pib">@T.SurName</span>
                <p>@T.Description</p>
                <table class="value">
                    <tr>
                        <th><span>За весь період:</span></th>
                        <td>@(T.ForTheEntirePeriod != 0 ? T.ForTheEntirePeriod.ToString() : "-")</td>
                    </tr>
                    <tr>
                        <th><span>За минулий місяць:</span></th>
                        <td>@(T.PreviousMonth != 0 ? T.PreviousMonth.ToString() : "-")</td>
                    </tr>
                    <tr>
                        <th><span>Кількість глосів:</span></th>
                        <td>@(T.Count != 0 ? T.Count.ToString() : "-")</td>
                    </tr>
                    <tr>
                        <th><span>Складність курсів:</span></th>
                        <td>@(T.TheDifficultyOfTheCourse != 0 ? T.TheDifficultyOfTheCourse.ToString() : "-")</td>
                    </tr>
                    <tr>
                        <th><span>Рейтингова оцінка:</span></th>
                        <td class="@name_class">@(T.AvgRating != 0 ? T.AvgRating.ToString() : "-")</td>
                    </tr>
                </table>
                <a href="~/MoreInfoForteacher/Index/@T.TeacherId">Більше інформації</a>
            </div>
        </div>
    }
</content>