@model AvaluateTheTeacher1.CodeReview.ViewModels.SubjectEditViewModel

@{
    ViewBag.Title = "Предмет " + Model.Name + " - Оціни викладача";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<title>@ViewBag.Title</title>
<content>
    <h2>Edit</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Subject</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CathedraId, "CathedraId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("CathedraId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CathedraId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                Семестри
                @Html.ValidationMessageFor(model => model.Semesters, "", new { @class = "text-danger" })
                @foreach (var k in Model.Semesters)
                {
                    <div class="form-control">
                        <input type="checkbox" id="semester+@k.Id" name="Semesters" value="@k.Id" @(k.IsChange ? "checked=\"checked\"" : "") />
                        <label for="semester+@k.Id">з @k.From.ToShortDateString() по @k.To.ToShortDateString()</label>
                    </div>
                }
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</content>