@model AvaluateTheTeacher1.Models.Teachers.VotingList
@{
    ViewBag.Title = "Голосування - Оціни викладача";
}
<title>@ViewBag.Title</title>
<content>
    <div class="title">
        <hr /><h1>Голосування</h1>
    </div>
    <div class="teacher-voiting-wrapper">
        @foreach (var data in Model.Info)
        {
            var name_class = "";
            if (@data.AvgRating >= 9) { name_class = "grean1"; }
            if (@data.AvgRating >= 6 && @data.AvgRating < 9) { name_class = "yellow"; }
            if (@data.AvgRating >= 0 && @data.AvgRating < 6) { name_class = "red1"; }

            <div class="teachers-voiting">
                <table class="value">
                    <tr>
                        <td class="@name_class">@(data.AvgRating != 0 ? data.AvgRating.ToString() : "-")</td>
                    </tr>
                </table>

                <div class="img-teacher-wrapper">
                    <img class="img-teacher" src="~/TeacherAva/@data.PathToPhoto" alt="Нет фотографии">
                </div>

                <div class="about_teacher">
                    <span class="name">@data.SubjectName</span><br />
                    <div class="pib">
                        <span class="pib">@data.LastName</span>
                        <span class="pib">@data.Name</span>
                        <span class="pib">@data.SurName</span>
                    </div>
                    <p>@data.Description</p>
                    <a class="btn btn-default" href="/Votings/Votings/@data.IdForVoiting">Проголосувати</a>
                </div>

            </div>
        }
    </div>
</content>