@model AvaluateTheTeacher1.Models.Teachers.TopTeachersViewModel[]
@{
    ViewBag.Title = "Дошка відзнаки - Оціни викладача";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string s;
}

<title>@ViewBag.Title</title>
<content>
    <link href='https://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>
    <div class="dashboard">
      <img class="dashboard-img" src="~/Content/dashboard.jpg" />
        
        @for ( int j = 0; j < 2; j++)
        {
                            if(j == 1)
                            { s = "piramida2"; }
                            else { s = "piramida1"; }
        <div class="piramida @s">
            @for (int i = 3*j; i < 3*(j+1); i++)
            {
                var teacher = Model[i];
            if (i == 0 || i == 5)
            { s = "one-top"; }
            else { s = ""; }
            <div class="col-lg-6 @s">
                <div class="img-top-teacher">
                    <a href="~/MoreInfoForteacher/Index/@teacher.TeacherId">
                        <img src="/TeacherImg/@teacher.PathToPhoto" /></a>
                        <span class="test-top-teacher">@(teacher.Rating != 0 ? teacher.Rating.ToString() : "-")</span>
                </div>
                <div class="name-top">@teacher.LastName @teacher.Name @teacher.SurName </div>
            </div>
            }
        </div>
        }

</content>