@model AvaluateTheTeacher1.Models.Teachers.VotingFull
@{ 
    ViewBag.Title = "Викладач - Оціни викладача";
    string[,] infoMas = new string[1, 10];
    for (int i = 0; i < 10; i++)
    {
        infoMas[0, i] = (i + 1).ToString();
    }
}
<title>@ViewBag.Title</title>
<content>
    <div class="form-qwestion">
        <div class="title">
            <hr /><h1>Проголосуйте</h1>
        </div>
        <div class="teacher">
            <img src="~/TeacherImg/@Model.pathToPhoto" alt="Нет фотографии" class="img-style">
            <div>
                <span>@Model.teacherName</span><br />
                @Html.ActionLink("Повернутись до списку викладачів", "VoitingMain", "Raiting", routeValues: null, htmlAttributes: new { @class = "link" })
            </div>
        </div>
    </div>
    @using (Html.BeginForm("Votings", "Votings", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.teacherName, htmlAttributes: new { @value = Model.teacherName })
        @Html.HiddenFor(model => model.pathToPhoto, htmlAttributes: new { @value = Model.pathToPhoto })
        <div class="component">
            <ol type="10">
                <table>
                    <thead>
                        <tr>
                            <th>Питання</th>
                            @for(int i=0; i<10; i++)
                            {
                                <th>@Html.Label((i+1).ToString())</th>
                            }
                        </tr>
                    </thead>
                    <tbody class="answers">
                        <tr>
                            <th>
                                <li>@Html.Label("Як Ви загалом оцінюєте курс? ")</li>
                                @Html.ValidationMessageFor(model => model.OverallSubject, "", new { @class = "text-danger" })
                            </th>
                            @for (int i = 0; i < 10; i++)
                            {
                                <td>
                                    @Html.RadioButtonFor(model => model.OverallSubject, infoMas[0, i], htmlAttributes: new { @id="answer1"+(i+1).ToString() })
                                    <label for=@("answer1"+(i+1).ToString())> </label>
                                </td>
                            }
                        </tr>
                        <tr>
                            <th><li>@Html.Label("Чи дізались Ви щось нове? ")</li>
                            @Html.ValidationMessageFor(model => model.SomethingNew, "", new { @class = "text-danger" })</th>
                            @for (int i = 0; i < 10; i++)
                            {
                            <td>
                                @Html.RadioButtonFor(model => model.SomethingNew, infoMas[0, i], htmlAttributes: new { @id = "answer2" + (i + 1).ToString() })
                                <label for=@("answer2"+(i+1).ToString())> </label>
                            </td>
                            }
                        </tr>
                        <tr>
                            <th><li>@Html.Label("Практична цінність курсу: ")</li>
                            @Html.ValidationMessageFor(model => model.ThePracticalValue, "", new { @class = "text-danger" })</th>
                            @for (int i = 0; i < 10; i++)
                            {
                            <td>
                                @Html.RadioButtonFor(model => model.ThePracticalValue, infoMas[0, i], htmlAttributes: new { @id = "answer3" + (i + 1).ToString() })
                                <label for=@("answer3"+(i+1).ToString())> </label>
                            </td>
                            }
                        </tr>
                        <tr>
                            <th><li>@Html.Label("Рівень обізнаності викладача матеріалом, який він викладає: ")</li>
                            @Html.ValidationMessageFor(model => model.DepthPossessionOf, "", new { @class = "text-danger" })</th>
                            @for (int i = 0; i < 10; i++)
                            {
                                <td>
                                    @Html.RadioButtonFor(model => model.DepthPossessionOf, infoMas[0, i], htmlAttributes: new { @id = "answer4" + (i + 1).ToString() })
                                    <label for=@("answer4"+(i+1).ToString())> </label>
                                </td>
                            }
                        </tr>
                        <tr>
                            <th><li>@Html.Label("Ясність та доступність викладення матеріалу: ")</li>
                            @Html.ValidationMessageFor(model => model.ClarityAndAccessibility, "", new { @class = "text-danger" })</th>
                            @for (int i = 0; i < 10; i++)
                            {
                            <td>
                                @Html.RadioButtonFor(model => model.ClarityAndAccessibility, infoMas[0, i], htmlAttributes: new { @id = "answer5" + (i + 1).ToString() })
                                <label for=@("answer5"+(i+1).ToString())> </label>
                            </td>
                            }
                        </tr>
                        <tr>
                            <th><li>@Html.Label("Якість навчальних матеріалів: ")</li>
                            @Html.ValidationMessageFor(model => model.QualityTeachingMaterials, "", new { @class = "text-danger" })</th>
                            @for (int i = 0; i < 10; i++)
                            {
                            <td>
                                @Html.RadioButtonFor(model => model.QualityTeachingMaterials, infoMas[0, i], htmlAttributes: new { @id = "answer6" + (i + 1).ToString() })
                                <label for=@("answer6"+(i+1).ToString())> </label>
                            </td>
                            }
                        </tr>
                        <tr>
                            <th><li>@Html.Label("На скільки викладач зацікавив Вас предметом? ")</li>
                            @Html.ValidationMessageFor(model => model.InterestInTheSubject, "", new { @class = "text-danger" })</th>
                            @for (int i = 0; i < 10; i++)
                            {
                                <td>
                                    @Html.RadioButtonFor(model => model.InterestInTheSubject, infoMas[0, i], htmlAttributes: new { @id = "answer7" + (i + 1).ToString() })
                                    <label for=@("answer7"+(i+1).ToString())> </label>
                                </td>
                            }
                        </tr>
                        <tr>
                            <th><li>@Html.Label("Як багато занять цього курсу Ви відвідали? ")</li>
                            @Html.ValidationMessageFor(model => model.NumberOfAttendance, "", new { @class = "text-danger" })</th>
                            @for (int i = 0; i < 10; i++)
                            {
                                <td>
                                    @Html.RadioButtonFor(model => model.NumberOfAttendance, infoMas[0, i], htmlAttributes: new { @id = "answer8" + (i + 1).ToString() })
                                    <label for=@("answer8"+(i+1).ToString())> </label>
                                </td>
                            }
                        </tr>
                        <tr>
                            <th><li>@Html.Label("На скільки активним Ви були під час семінарів та дискусій? ")</li>
                            @Html.ValidationMessageFor(model => model.ActivityInClass, "", new { @class = "text-danger" })</th>
                            @for (int i = 0; i < 10; i++)
                            {
                            <td>
                                @Html.RadioButtonFor(model => model.ActivityInClass, infoMas[0, i], htmlAttributes: new { @id = "answer9" + (i + 1).ToString() })
                                <label for=@("answer9"+(i+1).ToString())> </label>
                            </td>
                            }
                        </tr>
                        <tr>
                            <th><li>@Html.Label("На скільки складним виявився курс? ")</li>
                            @Html.ValidationMessageFor(model => model.TheDifficultyOfTheCourse, "", new { @class = "text-danger" })</th>
                            @for (int i = 0; i < 10; i++)
                            {
                                <td>
                                    @Html.RadioButtonFor(model => model.TheDifficultyOfTheCourse, infoMas[0, i], htmlAttributes: new { @id = "answer10" + (i + 1).ToString() })
                                    <label for=@("answer10"+(i+1).ToString())> </label>
                                </td>
                            }
                        </tr> 
                        <tr>
                            <th><li>@Html.Label("Скільки годин на тиждень Ви витрачали на підготовку? ")</li>
                            @Html.ValidationMessageFor(model => model.PreparationTime, "", new { @class = "text-danger" })</th>
                            @for (int i = 0; i < 10; i++)
                            {
                                <td>
                                    @Html.RadioButtonFor(model => model.PreparationTime, infoMas[0, i], htmlAttributes: new { @id = "answer11" + (i + 1).ToString() })
                                    <label for=@("answer11"+(i+1).ToString())> </label>
                                </td>
                            }
                        </tr>
                        <tr>
                            <th><li>@Html.Label("Доступність викладача поза заняттями: ")</li>
                            @Html.ValidationMessageFor(model => model.AvailabilityTeacherOutsideLessons, "", new { @class = "text-danger" })</th>
                            @for (int i = 0; i < 10; i++)
                            {
                                <td>
                                    @Html.RadioButtonFor(model => model.AvailabilityTeacherOutsideLessons, infoMas[0, i], htmlAttributes: new { @id = "answer12" + (i + 1).ToString() })
                                    <label for=@("answer12"+(i+1).ToString())> </label>
                                </td>
                            }
                        </tr>
                        <tr>
                            <th><li>@Html.Label("Зворотній зв'язок та коментарі викладача щодо Вашої роботи: ")</li>
                            @Html.ValidationMessageFor(model => model.CommentsTheWork, "", new { @class = "text-danger" })</th>
                            @for (int i = 0; i < 10; i++)
                            {
                                <td>
                                    @Html.RadioButtonFor(model => model.CommentsTheWork, infoMas[0, i], htmlAttributes: new { @id = "answer13" + (i + 1).ToString() })
                                    <label for=@("answer13"+(i+1).ToString())> </label>
                                </td>
                            }
                        </tr>
                        <tr>
                            <th><li>@Html.Label("Неупередженість викладача: ")</li>
                            @Html.ValidationMessageFor(model => model.RelevantToStudents, "", new { @class = "text-danger" })</th>
                            @for (int i = 0; i < 10; i++)
                            {
                                <td>
                                    @Html.RadioButtonFor(model => model.RelevantToStudents, infoMas[0, i], htmlAttributes: new { @id = "answer14" + (i + 1).ToString() })
                                    <label for=@("answer14"+(i+1).ToString())> </label>
                                </td>
                            }
                        </tr>
                        <tr>
                            <th><li>@Html.Label("На скільки зрозумілою була процедура оцінювання? ")</li>
                            @Html.ValidationMessageFor(model => model.ProcedureGrading, "", new { @class = "text-danger" })</th>
                            @for (int i = 0; i < 10; i++)
                            {
                            <td>
                                @Html.RadioButtonFor(model => model.ProcedureGrading, infoMas[0, i], htmlAttributes: new { @id = "answer15" + (i + 1).ToString() })
                                <label for=@("answer15"+(i+1).ToString())> </label>
                            </td>
                            }
                        </tr>
                        <tr>
                            <th><li>@Html.Label("На скільки хорошою була заявлена процедура оцінювання? ")</li>
                            @Html.ValidationMessageFor(model => model.HowWellTheProcedurePerformedGrading, "", new { @class = "text-danger" })</th>
                            @for (int i = 0; i < 10; i++)
                            {
                                <td>
                                    @Html.RadioButtonFor(model => model.HowWellTheProcedurePerformedGrading, infoMas[0, i], htmlAttributes: new { @id = "answer16" + (i + 1).ToString() })
                                    <label for=@("answer16"+(i+1).ToString())> </label>
                                </td>
                            }
                        </tr>
                        <tr>
                            <th><li>@Html.Label("Як добре, на Вашу думку, Ви засвоїли матеріал? ")</li>
                            @Html.ValidationMessageFor(model => model.QualityMasteringTheSubject, "", new { @class = "text-danger" })</th>
                            @for (int i = 0; i < 10; i++)
                            {
                                <td>
                                    @Html.RadioButtonFor(model => model.QualityMasteringTheSubject, infoMas[0, i], htmlAttributes: new { @id = "answer17" + (i + 1).ToString() })
                                    <label for=@("answer17"+(i+1).ToString())> </label>
                                </td>
                            }
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="11" rowspan="1">
                                <input type="submit" value="Проголосувати" class="btn btn-default" />
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </ol>
        </div>
    }
    <script type="text/javascript" src="~/Scripts/jquery.stickyheader.js"></script>
    <script src="~/Scripts/jquery.ba-throttle-debounce.min.js"></script>
    <script src="~/Scripts/jquery-radioChecked.js"></script>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</content>