@model AvaluateTheTeacher1.Models.Teachers.VotingFull
@{ 
    ViewBag.Title = "Викладча - Оціни викладача";
}
<title>@ViewBag.Title</title>
<content>
    @{
        string[,] info = new string[2, 10];
        for (int i = 0; i < 10; i++)
        {
            info[0, i] = (i + 1).ToString();
            info[1, i] = ((i + 1) * 10).ToString();
        }
    }
    <div class="form-qwestion">
        <div class="title">
            <hr /><h1>Проголосуйте</h1>
        </div>
        <div class="teachers">
            <img src="~/TeacherImg/@ViewBag.Photo" alt="Немає фотографії">
            <div class="about_teacher">
                <span>@ViewBag.Name</span>
            </div>
            <img class="golos" src="~/Content/14.jpg" />
        </div>

    </div>
    @using (Html.BeginForm(Html.BeginForm("VotingsGet", "Votings", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-qwestion", role = "form", enctype = "multipart/form-data" })))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                @Html.Label("Як Ви загалом оцінюєте курс? ", htmlAttributes: new { @class = "control-label" })
                <div>
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                @for (int i = 0; i < 10; i++)
                                {
                                    <th>@info[0, i]</th>
                                }
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Не&nbspкорисний </td>
                                @for (int i = 0; i < 10; i++)
                                {
                                    <td>
                                        @Html.RadioButtonFor(model => model.OverallSubject, info[0, i].ToString(), new { htmlAttributes = new { @class = "form-control" } })

                                    </td>
                                }
                                <td> Корисний</td>
                            </tr>
                        </tbody>
                    </table>
                    @Html.ValidationMessageFor(m => m.OverallSubject, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
            <div class="form-group">
                <div class="col-md-10">
                    @Html.Label("Чи дізались Ви щось нове? ", htmlAttributes: new { @class = "control-label" })
                    <div>
                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                    @for (int i = 0; i < 10; i++)
                                    {
                                        <th>@info[0, i]</th>
                                    }
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Не&nbspдізнались</td>
                                    @for (int i = 0; i < 10; i++)
                                    {
                                        <td>
                                            @Html.RadioButtonFor(model => model.SomethingNew, info[0, i].ToString(), new { htmlAttributes = new { @class = "form-control" } })
                                        </td>
                                    }
                                    <td>Дізнались</td>
                                </tr>
                            </tbody>
                        </table>
                        @Html.ValidationMessageFor(m => m.SomethingNew, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    @Html.Label("Практична цінність курсу: ", htmlAttributes: new { @class = "control-label  " })
                    <div>
                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                    @for (int i = 0; i < 10; i++)
                                    {
                                        <th>@info[0, i]</th>
                                    }
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Не&nbspцінний</td>
                                    @for (int i = 0; i < 10; i++)
                                    {
                                        <td>
                                            @Html.RadioButtonFor(model => model.ThePracticalValue, info[0, i].ToString(), new { htmlAttributes = new { @class = "form-control" } })
                                        </td>
                                    }
                                    <td>Цінний</td>
                                </tr>
                            </tbody>
                        </table>
                        @Html.ValidationMessageFor(m => m.ThePracticalValue, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    @Html.Label("Рівень обізнаності викладача матеріалом, який він викладає: ", htmlAttributes: new { @class = "control-label  " })
                    <div>
                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                    @for (int i = 0; i < 10; i++)
                                    {
                                        <th>@info[0, i]</th>
                                    }
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Не&nbspкваліфікований</td>
                                    @for (int i = 0; i < 10; i++)
                                    {
                                        <td>
                                            @Html.RadioButtonFor(model => model.DepthPossessionOf, info[0, i].ToString(), new { htmlAttributes = new { @class = "form-control" } })
                                        </td>
                                    }
                                    <td>Кваліфікований</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    @Html.ValidationMessageFor(m => m.DepthPossessionOf, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    @Html.Label("Ясність та доступність викладення матеріалу: ", htmlAttributes: new { @class = "control-label" })
                    <div>
                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                    @for (int i = 0; i < 10; i++)
                                    {
                                        <th>@info[0, i]</th>
                                    }
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Могли&nbspбути&nbspкраще</td>
                                    @for (int i = 0; i < 10; i++)
                                    {
                                        <td>
                                            @Html.RadioButtonFor(model => model.ClarityAndAccessibility, info[0, i].ToString(), new { htmlAttributes = new { @class = "form-control" } })
                                        </td>
                                    }
                                    <td>Якісні</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    @Html.ValidationMessageFor(m => m.ClarityAndAccessibility, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    @Html.Label("Якість навчальних матеріалів: ", htmlAttributes: new { @class = "control-label  " })
                    <div>
                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                    @for (int i = 0; i < 10; i++)
                                    {
                                        <th>@info[0, i]</th>
                                    }
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Могло&nbspбути&nbspкраще</td>
                                    @for (int i = 0; i < 10; i++)
                                    {
                                        <td>
                                            @Html.RadioButtonFor(model => model.QualityTeachingMaterials, info[0, i].ToString(), new { htmlAttributes = new { @class = "form-control" } })
                                        </td>
                                    }
                                    <td>Якісні</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    @Html.ValidationMessageFor(m => m.QualityTeachingMaterials, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    @Html.Label("На скільки викладач зацікавив Вас предметом? ", htmlAttributes: new { @class = "control-label  " })
                    <div>
                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                    @for (int i = 0; i < 10; i++)
                                    {
                                        <th>@info[0, i]</th>
                                    }
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Не&nbspзацікавив</td>
                                    @for (int i = 0; i < 10; i++)
                                    {
                                        <td>
                                            @Html.RadioButtonFor(model => model.InterestInTheSubject, info[0, i].ToString(), new { htmlAttributes = new { @class = "form-control" } })
                                        </td>
                                    }
                                    <td>Зацікавив</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    @Html.ValidationMessageFor(m => m.InterestInTheSubject, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    @Html.Label("Як багато занять цього курсу Ви відвідали? ", htmlAttributes: new { @class = "control-label  " })
                    <div>
                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                    @for (int i = 0; i < 10; i++)
                                    {
                                        <th>@info[1, i]%</th>
                                    }
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>На&nbspкількох</td>
                                    @for (int i = 0; i < 10; i++)
                                    {
                                        <td>
                                            @Html.RadioButtonFor(model => model.NumberOfAttendance, info[0, i].ToString(), new { htmlAttributes = new { @class = "form-control" } })
                                        </td>
                                    }
                                    <td>На&nbspвсіх</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    @Html.ValidationMessageFor(m => m.NumberOfAttendance, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    @Html.Label("На скільки активним Ви були під час семінарів та дискусій? ", htmlAttributes: new { @class = "control-label" })
                    <div>
                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                    @for (int i = 0; i < 10; i++)
                                    {
                                        <th>@info[0, i]</th>
                                    }
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Не&nbspвідповідав</td>
                                    @for (int i = 0; i < 10; i++)
                                    {
                                        <td>
                                            @Html.RadioButtonFor(model => model.ActivityInClass, info[0, i].ToString(), new { htmlAttributes = new { @class = "form-control" } })
                                        </td>
                                    }
                                    <td>Відповідав&nbspна&nbspкожному&nbspзанятті</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    @Html.ValidationMessageFor(m => m.ActivityInClass, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    @Html.Label("На скільки складним виявився курс? ", htmlAttributes: new { @class = "control-label  " })
                    <div>
                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                    @for (int i = 0; i < 10; i++)
                                    {
                                        <th>@info[0, i]</th>
                                    }
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Легкий</td>
                                    @for (int i = 0; i < 10; i++)
                                    {
                                        <td>
                                            @Html.RadioButtonFor(model => model.TheDifficultyOfTheCourse, info[0, i].ToString(), new { htmlAttributes = new { @class = "form-control" } })
                                        </td>
                                    }
                                    <td>Складний</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    @Html.ValidationMessageFor(m => m.TheDifficultyOfTheCourse, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    @Html.Label("Скільки годин на тиждень Ви витрачали на підготовку? ", htmlAttributes: new { @class = "control-label  " })
                    <div>
                        <table>
                            <thead>
                                <tr>
                                    @for (int i = 0; i < 10; i++)
                                    {
                                        <th>@info[0, i]</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    @for (int i = 0; i < 10; i++)
                                    {
                                        <td>
                                            @Html.RadioButtonFor(model => model.PreparationTime, info[0, i].ToString(), new { htmlAttributes = new { @class = "form-control" } })
                                        </td>
                                    }
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    @Html.ValidationMessageFor(m => m.PreparationTime, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    @Html.Label("Доступність викладача поза заняттями: ", htmlAttributes: new { @class = "control-label  " })
                    <div>
                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                    @for (int i = 0; i < 10; i++)
                                    {
                                        <th>@info[0, i]</th>
                                    }
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Не&nbspприділяє&nbspуваги</td>
                                    @for (int i = 0; i < 10; i++)
                                    {
                                        <td>
                                            @Html.RadioButtonFor(model => model.AvailabilityTeacherOutsideLessons, info[0, i].ToString(), new { htmlAttributes = new { @class = "form-control" } })
                                        </td>
                                    }
                                    <td>Відповідає&nbspна&nbspвсі&nbspпитання</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    @Html.ValidationMessageFor(m => m.AvailabilityTeacherOutsideLessons, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    @Html.Label("Зворотній зв'язок та коментарі викладача щодо Вашої роботи: ", htmlAttributes: new { @class = "control-label  " })
                    <div>
                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                    @for (int i = 0; i < 10; i++)
                                    {
                                        <th>@info[0, i]</th>
                                    }
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Не&nbspприділяє&nbspуваги</td>
                                    @for (int i = 0; i < 10; i++)
                                    {
                                        <td>
                                            @Html.RadioButtonFor(model => model.CommentsTheWork, info[0, i].ToString(), new { htmlAttributes = new { @class = "form-control" } })
                                        </td>
                                    }
                                    <td>Відповідає&nbspна&nbspвсі&nbspзапитання</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    @Html.ValidationMessageFor(m => m.CommentsTheWork, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    @Html.Label("Неупередженість викладача: ", htmlAttributes: new { @class = "control-label  " })
                    <div>
                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                    @for (int i = 0; i < 10; i++)
                                    {
                                        <th>@info[0, i]</th>
                                    }
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Злий</td>
                                    @for (int i = 0; i < 10; i++)
                                    {
                                        <td>
                                            @Html.RadioButtonFor(model => model.RelevantToStudents, info[0, i].ToString(), new { htmlAttributes = new { @class = "form-control" } })
                                        </td>
                                    }
                                    <td>Неупереджений</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    @Html.ValidationMessageFor(m => m.RelevantToStudents, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    @Html.Label("На скільки зрозумілою була процедура оцінювання? ", htmlAttributes: new { @class = "control-label  " })
                    <div>
                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                    @for (int i = 0; i < 10; i++)
                                    {
                                        <th>@info[0, i]</th>
                                    }
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Не&nbspзрозуміла</td>
                                    @for (int i = 0; i < 10; i++)
                                    {
                                        <td>
                                            @Html.RadioButtonFor(model => model.ProcedureGrading, info[0, i].ToString(), new { htmlAttributes = new { @class = "form-control" } })
                                        </td>
                                    }
                                    <td>Зрозуміла</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    @Html.ValidationMessageFor(m => m.ProcedureGrading, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    @Html.Label("На скільки хорошою була заявлена процедура оцінювання? ", htmlAttributes: new { @class = "control-label  " })
                    <div>
                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                    @for (int i = 0; i < 10; i++)
                                    {
                                        <th>@info[0, i]</th>
                                    }
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Погано</td>
                                    @for (int i = 0; i < 10; i++)
                                    {
                                        <td>
                                            @Html.RadioButtonFor(model => model.HowWellTheProcedurePerformedGrading, info[0, i].ToString(), new { htmlAttributes = new { @class = "form-control" } })
                                        </td>
                                    }
                                    <td>Добре</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    @Html.ValidationMessageFor(m => m.HowWellTheProcedurePerformedGrading, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    @Html.Label("Як добре, на Вашу думку, Ви засвоїли матеріал? ", htmlAttributes: new { @class = "control-label  " })
                    <div>
                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                    @for (int i = 0; i < 10; i++)
                                    {
                                        <th>@info[0, i]</th>
                                    }
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Погано</td>
                                    @for (int i = 0; i < 10; i++)
                                    {
                                        <td>
                                            @Html.RadioButtonFor(model => model.QualityMasteringTheSubject, info[0, i].ToString(), new { htmlAttributes = new { @class = "form-control" } })
                                        </td>
                                    }
                                    <td>Добре</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    @Html.ValidationMessageFor(m => m.QualityMasteringTheSubject, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Проголосувати" class="btn btn-default" />
                </div>
            </div>
    }

    <div>
        @Html.ActionLink("Повернутись до списку викладачів", "ListOfTeachers", "ListOfTeachers")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</content>