@model AvaluateTheTeacher1.Models.Teachers.Voting

@{
    string[,] info = new string[2, 10];
    for (int i = 0; i < 10; i++)
    {
        info[0, i] = (i + 1).ToString();
        info[1, i] = ((i + 1) * 10).ToString();
    }
}

@using (Html.BeginForm(Html.BeginForm("Votings", "Votings", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" })))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Проголосуйте</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div>
                @Html.Label("Как вы в общем оцениваете курс? ", htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-10">
                <table>
                    <thead>
                        <tr>
                            @for (int i = 0; i < 10; i++)
                            {
                                <th>@info[0, i]</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            @for (int i = 0; i < 10; i++)
                            {
                                <td>
                                    @Html.RadioButtonFor(model => model.OverallSubject, info[0, i].ToString(), new { htmlAttributes = new { @class = "form-control" } })

                                </td>
                            }
                        </tr>
                    </tbody>
                </table>
                @Html.ValidationMessageFor(m => m.OverallSubject, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div>
                @Html.Label("Узнали ли вы что-то новое? ", htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-10">
                <table>
                    <thead>
                        <tr>
                            @for (int i = 0; i < 10; i++)
                            {
                                <th>@info[0, i]</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            @for (int i = 0; i < 10; i++)
                            {
                                <td>
                                    @Html.RadioButtonFor(model => model.SomethingNew, info[0, i].ToString(), new { htmlAttributes = new { @class = "form-control" } })
                                </td>
                            }
                        </tr>
                    </tbody>
                </table>
                @Html.ValidationMessageFor(m => m.SomethingNew, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div>
            @Html.Label("Практическая ценность курса: ", htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
            <div class="col-md-10">
                <table>
                    <thead>
                        <tr>
                            @for (int i = 0; i < 10; i++)
                            {
                                <th>@info[0, i]</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            @for (int i = 0; i < 10; i++)
                            {
                                <td>
                                    @Html.RadioButtonFor(model => model.ThePracticalValue, info[0, i].ToString(), new { htmlAttributes = new { @class = "form-control" } })
                                </td>
                            }
                        </tr>
                    </tbody>
                </table>    
                @Html.ValidationMessageFor(m => m.ThePracticalValue, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div>
                @Html.Label("Глубина владения преподавателя преподаваемым материалом: ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <table>
                        <thead>
                            <tr>
                                @for (int i = 0; i < 10; i++)
                                {
                                    <th>@info[0, i]</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                @for (int i = 0; i < 10; i++)
                                {
                                    <td>
                                        @Html.RadioButtonFor(model => model.DepthPossessionOf, info[0, i].ToString(), new { htmlAttributes = new { @class = "form-control" } })
                                    </td>
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
                @Html.ValidationMessageFor(m => m.DepthPossessionOf, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div>
                @Html.Label("Понятность и доступность изложения материала: ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <table>
                        <thead>
                            <tr>
                                @for (int i = 0; i < 10; i++)
                                {
                                    <th>@info[0, i]</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                @for (int i = 0; i < 10; i++)
                                {
                                    <td>
                                        @Html.RadioButtonFor(model => model.ClarityAndAccessibility, info[0, i].ToString(), new { htmlAttributes = new { @class = "form-control" } })
                                    </td>
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
                @Html.ValidationMessageFor(m => m.ClarityAndAccessibility, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div>
                @Html.Label("Качество учебных материалов: ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <table>
                        <thead>
                            <tr>
                                @for (int i = 0; i < 10; i++)
                                {
                                    <th>@info[0, i]</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                @for (int i = 0; i < 10; i++)
                                {
                                    <td>
                                        @Html.RadioButtonFor(model => model.QualityTeachingMaterials, info[0, i].ToString(), new { htmlAttributes = new { @class = "form-control" } })
                                    </td>
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
                @Html.ValidationMessageFor(m => m.QualityTeachingMaterials, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div>
                @Html.Label("Насколько преподаватель заинтересовал вас предметом? ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <table>
                        <thead>
                            <tr>
                                @for (int i = 0; i < 10; i++)
                                {
                                    <th>@info[0, i]</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                @for (int i = 0; i < 10; i++)
                                {
                                    <td>
                                        @Html.RadioButtonFor(model => model.InterestInTheSubject, info[0, i].ToString(), new { htmlAttributes = new { @class = "form-control" } })
                                    </td>
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
                @Html.ValidationMessageFor(m => m.InterestInTheSubject, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div>
                @Html.Label("Как много занятий курса вы посетили? ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <table>
                        <thead>
                            <tr>
                                @for (int i = 0; i < 10; i++)
                                {
                                    <th>@info[1, i]</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                @for (int i = 0; i < 10; i++)
                                {
                                    <td>
                                        @Html.RadioButtonFor(model => model.NumberOfAttendance, info[0, i].ToString(), new { htmlAttributes = new { @class = "form-control" } })
                                    </td>
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
                @Html.ValidationMessageFor(m => m.NumberOfAttendance, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div>
                @Html.Label("Насколько активно вы участвовали в семинарах и обсуждениях? ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <table>
                        <thead>
                            <tr>
                                @for (int i = 0; i < 10; i++)
                                {
                                    <th>@info[0, i]</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                @for (int i = 0; i < 10; i++)
                                {
                                    <td>
                                        @Html.RadioButtonFor(model => model.ActivityInClass, info[0, i].ToString(), new { htmlAttributes = new { @class = "form-control" } })
                                    </td>
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
                @Html.ValidationMessageFor(m => m.ActivityInClass, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div>
                @Html.Label("Насколько сложным был для вас этот курс? ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <table>
                        <thead>
                            <tr>
                                @for (int i = 0; i < 10; i++)
                                {
                                    <th>@info[0, i]</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                @for (int i = 0; i < 10; i++)
                                {
                                    <td>
                                        @Html.RadioButtonFor(model => model.TheDifficultyOfTheCourse, info[0, i].ToString(), new { htmlAttributes = new { @class = "form-control" } })
                                    </td>
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
                @Html.ValidationMessageFor(m => m.TheDifficultyOfTheCourse, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div>
                @Html.Label("Сколько часов в неделю вы тратили на подготовку? ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <table>
                        <thead>
                            <tr>
                                @for (int i = 0; i < 10; i++)
                                {
                                    <th>@info[0, i]</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                @for (int i = 0; i < 10; i++)
                                {
                                    <td>
                                        @Html.RadioButtonFor(model => model.PreparationTime, info[0, i].ToString(), new { htmlAttributes = new { @class = "form-control" } })
                                    </td>
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
                @Html.ValidationMessageFor(m => m.PreparationTime, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div>
                @Html.Label("Доступность преподавателя вне занятий: ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <table>
                        <thead>
                            <tr>
                                @for (int i = 0; i < 10; i++)
                                {
                                    <th>@info[0, i]</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                @for (int i = 0; i < 10; i++)
                                {
                                    <td>
                                        @Html.RadioButtonFor(model => model.AvailabilityTeacherOutsideLessons, info[0, i].ToString(), new { htmlAttributes = new { @class = "form-control" } })
                                    </td>
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
                @Html.ValidationMessageFor(m => m.AvailabilityTeacherOutsideLessons, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div>
                @Html.Label("Обратная связь и комментарии преподавателя по вашей работе: ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <table>
                        <thead>
                            <tr>
                                @for (int i = 0; i < 10; i++)
                                {
                                    <th>@info[0, i]</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                @for (int i = 0; i < 10; i++)
                                {
                                    <td>
                                        @Html.RadioButtonFor(model => model.CommentsTheWork, info[0, i].ToString(), new { htmlAttributes = new { @class = "form-control" } })
                                    </td>
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
                @Html.ValidationMessageFor(m => m.CommentsTheWork, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div>
                @Html.Label("Непредвзятость преподавателя: ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <table>
                        <thead>
                            <tr>
                                @for (int i = 0; i < 10; i++)
                                {
                                    <th>@info[0, i]</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                @for (int i = 0; i < 10; i++)
                                {
                                    <td>
                                        @Html.RadioButtonFor(model => model.RelevantToStudents, info[0, i].ToString(), new { htmlAttributes = new { @class = "form-control" } })
                                    </td>
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
                @Html.ValidationMessageFor(m => m.RelevantToStudents, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div>
                @Html.Label("Насколько понятной была процедура выставления оценок? ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <table>
                        <thead>
                            <tr>
                                @for (int i = 0; i < 10; i++)
                                {
                                    <th>@info[0, i]</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                @for (int i = 0; i < 10; i++)
                                {
                                    <td>
                                        @Html.RadioButtonFor(model => model.ProcedureGrading, info[0, i].ToString(), new { htmlAttributes = new { @class = "form-control" } })
                                    </td>
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
                @Html.ValidationMessageFor(m => m.ProcedureGrading, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div>
                @Html.Label("Насколько хорошо выполнялась заявленная процедура выставления оценок? ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <table>
                        <thead>
                            <tr>
                                @for (int i = 0; i < 10; i++)
                                {
                                    <th>@info[0, i]</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                @for (int i = 0; i < 10; i++)
                                {
                                    <td>
                                        @Html.RadioButtonFor(model => model.HowWellTheProcedurePerformedGrading, info[0, i].ToString(), new { htmlAttributes = new { @class = "form-control" } })
                                    </td>
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
                @Html.ValidationMessageFor(m => m.HowWellTheProcedurePerformedGrading, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="form-group">
                @Html.Label("Насколько хорошо, по-вашему, вы освоили этот предмет? ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <table>
                        <thead>
                            <tr>
                                @for (int i = 0; i < 10; i++)
                                {
                                    <th>@info[0, i]</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                @for (int i = 0; i < 10; i++)
                                {
                                    <td>
                                        @Html.RadioButtonFor(model => model.QualityMasteringTheSubject, info[0, i].ToString(), new { htmlAttributes = new { @class = "form-control" } })
                                    </td>
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
                @Html.ValidationMessageFor(m => m.QualityMasteringTheSubject, "", new { @class = "text-danger" })
            </div>
        </div>

        <!--<div class="form-group">
            Html.Label("Что стоило бы изменить в этом курсе, чтобы сделать его лучше? ", htmlAttributes: new { class = "control-label col-md-2" })
            <div class="col-md-10">
                <table>
                    <thead>
                        <tr>
                            for (int i = 0; i < 10; i++)
                            {
                                <th>info[0, i]</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            for (int i = 0; i < 10; i++)
                            {
                                <td>
                                    Html.RadioButtonFor(model => model.ClarityAndAccessibility, info[0, i].ToString(), new { htmlAttributes = new { class = "form-control" } })
                                </td>
                            }
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>-->
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Проголосувати" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Повернутись до списку викладачів", "ListOfTeachers", "ListOfTeachers")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
